*{
margin: 0px;
padding:0px;
}


body{
    font-size:18px;
    background: #F8F8FF;
direction:rtl;
}

.header{
margin: 50px auto 0px;
                   width:35%;
color: white;
background: #5F9EA0;
text-align: center;
padding: 20px;
border-radius: 20px 20px 0px 0px;
border: 10px solid #5F9EA0;
}

.headerhome{
margin: 0px auto 0px;
                   width:80%;
height:100px;
color: white;
background: #5F9EA0;
text-align: center;
padding: 20px;
border-radius: 0px 0px 0px 0px;
border: 10px solid #5F9EA0;
}




form,
.content{
width: 80%;
text-align: right;
	margin: 0px auto;
	padding: 20px;
	border: 10px solid #5F9EA0;
	background: white;
	border-radius: 0px 0px 20px 20px;
}
